.calculator-copy {
  color: white;
  font-weight: 300;
  text-align: justify;
}

.calculator {
  padding: 40px 10px;
  margin: auto;
  max-width: 768px;
}

.calculator-button {
  margin-top: 40px;
}

.calculator-key {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 605px) {
  .calculator-key {
    flex-direction: column;
  }
}
