.calculator-copy {
  color: white;
  font-weight: 300;
  text-align: justify;
}

.calculator {
  padding: 40px 10px;
  margin: auto;
  max-width: 768px;
}

.calculator-home-button {
  margin-top: 40px;
}
