.centered-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.centered-child {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 768px;
  width: 100%;
  padding: 40px 10px;
}
